.tree {
  padding: 10px;
  font-family: monospace;
}
.spacing-1 {
  padding-left: 48px;
}

.spacing-2 {
  padding-left: 96px;
}

.spacing-3 {
  padding-left: 144px;
}

.margin-5 {
  margin-top: 5px;
}
