registry=https://elilillyco.jfrog.io/artifactory/api/npm/Lilly-NPM/
//elilillyco.jfrog.io/artifactory/api/npm/Lilly-NPM/:_authToken=cmVmdGtuOjAxOjE4MTA3NTQ5NzE6R3Rhc1JXbWFxcVZoY3ZLbkZjejdBRkFCRkl4
legacy-peer-deps=true
